* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: hsla(222, 18%, 11%, 0.95);
    color: var(--platinum);
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    color: var(--marigold);
    text-align: center;
    margin-bottom: 20px;
}

.games {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Display 4 games per row */
    gap: 20px;
}

.game {
    background-color: hsl(0, 0%, 16%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.game img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.game h2 {
    color: var(--marigold);
    margin-bottom: 10px;
}

.game p {
    margin-bottom: 5px;
}
